/* General body styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

/* Left Sidebar styles */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
    border-radius: 4px;
}

/* Main content styling */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    display: none; /* All sections hidden by default */
}

.section.active {
    display: block; /* Active section is shown */
}

/* Responsive media query for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

/* Button styling */
button {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #0984e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #74b9ff;
}

/* Right Sidebar Styling */
.right-sidebar {
    width: 300px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    right: -320px; /* Completely off screen, adjust to be wider than the sidebar */
    top: 0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
}

.sidebar-content h2 {
    margin-bottom: 15px;
}

.sidebar-content p {
    margin: 10px 0;
}

/* Show the sidebar when active */
.right-sidebar.active {
    right: 0; /* Slide in */
}
